{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

{% endblock %}

{% block contenido %}

<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/banner1.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner2.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner3.jpg' %}" alt="">
    </div>
</div>
{% load humanize %}

<h2 class="text-center">Categorias</h2>
<br>
<div class="productos container-card">
    <a href="{% url 'instrumentos' %}">
        <div class="card container-card" style="width: 18rem;">
            <img src="../../../media/categorias/guitarra_madera.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Instrumentos Musicales</p>
                <button type="button" class="btn btn-info">ir a...</button>
            </div>
        </div>
    </a>
    &nbsp; &nbsp; &nbsp;

    <a href="{% url 'instrumentos' %}">
        <div class="card container-card" style="width: 18rem;">
            <img src="../../../media/categorias/hunterx_comic.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Comics y mangas</p>
                <button type="button" class="btn btn-info">ir a...</button>
            </div>
        </div>
    </a>
    &nbsp; &nbsp; &nbsp;

    <a href="{% url 'instrumentos' %}">
        <div class="card container-card" style="width: 18rem;">
            <img src="../../../media/categorias/tv_lg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Tecnologia</p>
                <button type="button" class="btn btn-info">ir a...</button>
            </div>
        </div>
    </a>
    &nbsp; &nbsp; &nbsp;

    <a href="{% url 'instrumentos' %}">
        <div class="card container-card" style="width: 18rem;">
            <img src="../../../media/categorias/taladro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center">Heramientas</p>
                <button type="button" class="btn btn-info">ir a...</button>
            </div>
        </div>
    </a>
    &nbsp; &nbsp; &nbsp;

</div>
<br><br>

{% endblock %}


<!-- <div class="card producto">
    <div class="contenedor_producto">
        {% if p.categoria_imagen %}
        <img src="{{ p.categoria_imagen.url }}" alt="imagen producto">
        {% endif %}
        <div class="card-body detalle">
            <h5>{{ p.categoria_nombre | capfirst }}</h5>
            <h2>{{ p.producto_nombre | title}}</h2>
            <h3>${{ p.producto_precio |intcomma }}</h3>
        </div>
    </div>
</div> -->

<!-- <h2 class="text-center">Categorias</h2>
<br>
<div class="productos container-card">
    {% for p in categoria %}
    <div class="card container-card" style="width: 18rem;">
        <img src="{{ p.categoria_imagen.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">{{ p.categoria_nombre | capfirst }}</p>
          <button type="button" class="btn btn-info">{{ p.categoria_nombre }}</button>
        </div>
      </div>
      &nbsp; &nbsp; &nbsp;
    {% endfor %}

</div>
<br><br> -->
